extends ../layouts/default

block head
  link(rel="stylesheet", href="/client/css/exam-writing-list.css")

block content
  .container.mt-5
    h1.text-center.mb-4 Danh sách đề thi Writing TOEIC
    if error && error.length
      .alert.alert-danger.text-center #{error}
    if success && success.length
      .alert.alert-success.text-center #{success}
    if !writings.length
      .alert.alert-info.text-center Không có đề thi Writing nào được public.
    else
      .row
        each writing in writings
          .col-md-4.mb-4
            .card.h-100
              .card-header.bg-primary.text-white
                h5.mb-0 #{writing.examCode} - Topic #{writing.TopicN}
              .card-body
                p
                  strong Độ khó: 
                  | #{writing.difficulty}
                p #{writing.notes}
              .card-footer
                a.btn.btn-primary.w-100(href=`/testtoeic/writing/${writing._id}`) Làm bài
