
extends ../layouts/default
block head
  link(rel="stylesheet", href="/client/css/news-list.css")
block content
  .news-list
    h1.news-list-title Danh sách tin tức
    .news-grid
      each news in newsList
        article.news-item
          a.news-link(href=`/news/${news._id}`)
            .news-image-container
              img.news-item-image(
                src=news.image, 
                alt=news.title
              )
            
            .news-content
              h3.news-item-title= news.title
              
              p.news-item-excerpt= news.content.substring(0, 100) + '...'
              
              .news-meta
                span.news-author= news.author
                span.news-date= news.createdAt.toLocaleDateString()
    
    if pagination
      .pagination
        if pagination.currentPage > 1
          a.pagination-link.prev(href=`?page=${pagination.currentPage - 1}`) Trang trước
        
        each page in pagination.pages
          a.pagination-link(
            href=`?page=${page}`,
            class=(pagination.currentPage === page ? 'active' : '')
          )= page
        
        if pagination.currentPage < pagination.totalPages
          a.pagination-link.next(href=`?page=${pagination.currentPage + 1}`) Trang sau